@import url(boiler-plate.css);

body{
    display: flex;
    justify-content: center;
    height:100vh;
    font-family: 'Ubuntu', sans-serif;
    background-color: hsl(217, 100%, 97%);
}

.container{
    background-image: url(/assets/images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar{
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding:2rem;
}

.number{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:30px;
    height: 30px;
    background-color: transparent;
    color:white;
    border:1px solid white;
    margin-right:1rem;
    font-weight: bold;
}

.step-one-details,
.step-two-details,
.step-three-details,
.step-four-details{
    display: none;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width:90%;
    border-radius: 10px;
    padding:2rem 1.5rem;
}

.personal-info h1{
    font-size: 1.5rem;
    color:hsl(213, 96%, 18%);
    margin-bottom: .5rem;
    font-family:inherit;
}
.personal-info p{
    font-size: 1rem;
    width:90%;
    color:hsl(231, 11%, 63%);
    margin-bottom:1rem;
    font-family:inherit;
}

label{
    font-size: .9rem;
    display: block;
    color:hsl(213, 96%, 18%);
}

label:nth-last-of-type(2),
label:nth-last-of-type(1){
    margin-top:.5rem;
}

#name,#email,#phone{
    width:100%;
    border-radius:5px;
    border:1px solid hsl(231, 11%, 63%);
    padding:.5rem 1rem;
    color:hsl(213, 96%, 18%);
}

.toggle::placeholder{
    font-family: 'Ubuntu', sans-serif;
    font-size: bold;
}

.prev{
    border:none;
    color:hsl(231, 11%, 63%);
    background-color: transparent;
    cursor: pointer;
    padding:.5rem 1rem;
}

.buttons{
    background-color: white;
    width:100%;
    position: absolute;
    bottom:0;
    left:0;
    display: flex;
    justify-content: space-between;
    padding:1rem 2rem;
}

.next{
    padding:.5rem 1rem;
    background-color:hsl(213, 96%, 18%);
    color:white;
    border:none;
    border-radius:5px;
    cursor: pointer;
}

.page-2,
.page-3,
.page-4{
    display: none;
}

/* second page */

.second-page{
    display: flex;
    gap:1rem;
    flex-direction: column;
    align-items: flex-start;
}

.second-page-btn{
    padding:.6rem;
    width:100%;
    background-color: transparent;
    border:1px solid lightgray;
    border-radius: 10px;
}


/* switch */

.switch{
    position: relative;
    display: inline-block;
    margin: 0 1.5rem;
    width: 40px;
    height: 23px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    inset:0;
    background-color: #ccc;
    transition: .4s;
    background-color: hsl(213, 96%, 18%);
}

.slider::before{
    position:absolute;
    content: '';
    /* height: 26px;
    width: 26px; */
    height: 15px;
    width: 15px;
    left:4px;
    bottom:4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider{
    background-color: hsl(213, 96%, 18%);
}

input:checked + .slider:before{
    transform: translateX(17px);
}

.slider.round{
    border-radius:34px;
}

.slider.round:before{
    border-radius: 50%;
}

.toggle{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: hsl(231, 100%, 99%);
    padding:1rem 0;
    width:100%;
    border-radius: 10px;
}

.bonus{
    color: hsl(213, 96%, 18%);
}

.hide{
    display: none;
}

.arcade,
.advanced,
.pro{
    display: flex;
    cursor: pointer;
}

/* .second-page-btn:focus{
    background-color: hsl(217, 100%, 97%);
    border:1px solid hsl(243, 100%, 62%);
} */
.focus{
    background-color: hsl(217, 100%, 97%);
    border:1px solid hsl(243, 100%, 62%);
}
.thumbnail{
    display: flex;
    flex-direction: column;
    padding-left:.5rem;
    text-align: start;
}

.thumbnail h4{
    color:hsl(213, 96%, 18%);
}

.thumbnail p{
    font-size: 14px;
    color:hsl(231, 11%, 63%);
}

/* third page */
.add-ons{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.third-page-btn{
    display: flex;
    width:100%;
    justify-content: start;
    align-items: center;
    text-align: start;
    padding:.7rem 1rem;
    background-color: white;
    border:1px solid hsl(229, 24%, 87%);
    border-radius:10px;
    line-height: 1.3;
    cursor: pointer;
}


.third-page-btn > input{
    width:18px;
    height:18px;
    margin-right:1rem;
    border:1px solid hsl(229, 24%, 87%);
}

.third-page-btn:focus{
    background-color: hsl(217, 100%, 97%);
    border:1px solid hsl(243, 100%, 62%);
}

.text h3{
    font-size: .9rem;
    color:hsl(213, 96%, 18%);
}

.text p,
.third-page-btn p{
    font-size: 0.8rem;
    color:hsl(231, 11%, 63%);
}

.third-page-btn p{
    margin-left:auto;
}

.summary{
    background-color: hsl(231, 100%, 99%);
    border-radius: 10px;
    padding:1rem;
    color:hsl(231, 11%, 63%);
    /* font-weight: bold; */
}

.category{
    display: flex;
    align-items: center;
    padding-bottom:1rem;
    /* justify-content: space-around; */
}

.category-details p:first-of-type{
    color:hsl(213, 96%, 18%);
    font-weight: bold;
}

a{
    /* text-decoration: none; */
    color:hsl(231, 11%, 63%);
}

.summary-service{
    position: relative;
    /* border:1px solid red; */
    padding-top:1rem;
    
}

.summary-service p:first-of-type{
    padding-bottom: .5rem;
}

.summary-service::after{
    content:'';
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:1px;
    background-color: hsl(229, 24%, 87%);
}

.category-price{
    margin-left:auto;
    color:hsl(213, 96%, 18%);
    font-weight: bold;
}

.service-selection,
.storage-selection{
    display: flex;
    justify-content: space-between;
}

.service-selection p:last-of-type,
.storage-selection p:last-of-type{
    color:hsl(213, 96%, 18%);
    font-weight: bold;
}

.total{
    display: flex;
    justify-content: space-between;
    padding:1rem;
    color:hsl(231, 11%, 63%);
}

.total p:last-of-type{
    color: hsl(243, 100%, 62%);
    font-weight: bold;
    font-size: 1.1rem;
}

@media screen and (min-width:809px){

    .number{
        width:50px;
        height:50px;
    }
    .personal-info h1{
        font-size: 2.3rem;
    }

    .personal-info p{
        font-size: 1.2rem;
    }

    .form{
        width:60%;
        padding-bottom:10rem;
    }

    label{
        font-size: 1.2rem;
    }

    label:nth-last-of-type(1),
    label:nth-last-of-type(2){
        /* color:red; */
        margin-top: 1rem;
    }

    input{
        height:3rem;
    }

    button{
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 992px){

    body{
        align-items: center;
    }
    section{
        height: 70vh;
    }

    .container{
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        background-image: url(/assets/images/bg-sidebar-desktop.svg);
        border:15px solid white;
        border-radius: 20px;
    }

    .sidebar{
        flex-direction: column;
        justify-content: flex-start;
        height:100%;
        border-radius:15px;
        padding-top:3rem;
        width:35%;
        border: 1px solid red;
    }

    .sidebar h2{
        color:white;
        font-size: 1.2rem;
        font-weight: 300;
    }

    .sidebar h3{
        font-weight: normal;
        color:hsl(229, 24%, 87%);
        font-size: 1rem;
    }

    .step-one-details,
    .step-two-details,
    .step-three-details,
    .step-four-details{
    display: block;
    line-height: 1.3;
    }
    
    .step-one-details h2,
    .step-two-details h2,
    .step-three-details h2,
    .step-four-details h2{
    font-size: 1rem;
    font-weight: bold;
    }

    .step-one-details h3,
    .step-two-details h3,
    .step-three-details h3,
    .step-four-details h3{
    font-size: .8rem;
    font-weight: 100;
    }

    .step-one,
    .step-two,
    .step-three,
    .step-four{
    display: flex;
    align-items: center;
    margin-bottom:1.5rem;
    /* border:1px solid white; */
    }

    .form{
        position: relative;
        height:100%;
        border-radius:0;
        padding: 2rem 3rem;
        /* border:1px solid red; */
    }

    .buttons{
        position: absolute;
        justify-content: center;
        padding:0 3rem;
        padding-bottom: 1rem;
    }

    .prev{
        margin-right:auto;
    }

    .next{
        margin-left:auto;
    }

    .number{
        width:35px;
        height:35px;
    }


}
